# Created by venv; see https://docs.python.org/3/library/venv.html

# Entorno virtual
.venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Base de datos local - CONSULTAR SI VA O NO... si no la subo no se ve base de datos creada
#db.sqlite3

# Archivos de usuario (VSCode, logs, etc.)
.vscode/
*.log

# Archivos subidos por usuarios - SACO DE GITIGNORE PARA QUE SE VEAN LAS IMAGENES EN DEMO TP
#/media/
